@page "/sorting"
@using AlgorithmVisualizer.Services.Algorithms
@using AlgorithmVisualizer.Services.Algorithms.Interfaces
@using AlgorithmVisualizer.Components.Sorting
@inject IServiceProvider ServiceProvider

<PageTitle>Algorithm Visualizer - Sorting</PageTitle>

<div class="page-header">
    <h2>Sorting Algorithm Visualization</h2>
    <p class="lead">Watch how different algorithms rearrange arrays to sort elements.</p>
</div>
<SortingVisualizer Algorithms="@sortingAlgorithms" />

@code {
    private List<ISortingAlgorithm> sortingAlgorithms;

    protected override void OnInitialized()
    {
        // Get all registered sorting algorithms
        var algorithms = AlgorithmService.GetSortingAlgorithms(ServiceProvider);
        sortingAlgorithms = algorithms;
    }
}